
.main-interface {
    font-family: 'VT323', monospace;
    color: #82d1ff;
    background: radial-gradient(circle at center, #194797 0%, #110b52 100%);
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 15px 0 0 70px;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 16px;
    white-space: pre-wrap;
    overflow-y: auto;
    box-sizing: border-box;
    text-shadow: 0 0 10px #71cafd;
  }